%table.table.table-striped
  %thead
    %tr
      %th.owner-heading Owner
      %th.project-name-heading Project Name
      %th.description-heading Description
      %th.technologies-heading Technologies
      %th.other-technologies-heading Other Technologies
      %th.office-heading Office
      %th.actions-heading
  %tbody
    - @projects.each do |project|
      = render partial: 'project', locals: { project: project }
      %tr
        %td{colspan: 7}
          =image_tag "thumbs-up-small.png"
          %span.interested-users= "#{project.interested_users.join(', ')}"

%a{href: 'projects/new', class: 'btn'}
  %i{class: 'icon-plus'}
  = " Add project"