- content_for :filters do
  %ul.nav.secondary-nav.pull-right
    %li#location-filter.dropdown(data-dropdown="dropdown")
      %a.dropdown-toggle(data-toggle="dropdown" href="#")
        By Location
        %span.caret
      %ul.dropdown-menu
        %li
          %a{"href" => projects_path} All Locations
        - Project::LOCATIONS.each do |location|
          %li
            %a{"href" => projects_path(location: location)}= location

%h3
  - if @location
    = "Projects for #{@location} Location"
  - else
    Projects for All Locations

#projects-table.row-fluid.striped
  .row-fluid.head
    .span2.owner-heading Owner
    .span2.project-name-heading Project Name
    .span2.description-heading Description
    .span2.technologies-heading Technologies
    .span2.location-heading Location
    .span2.actions-heading Actions
  - @project_presenters.each do |project|
    - @project = project
    .row-fluid.project
      = render 'project', project: @project
  .row-fluid
    =link_to image_tag('add.png', title: "New Project"), new_project_path, remote: true, class: "add-project"
