table { table-layout: fixed; }
table th, table td { overflow: hidden; }

.owner-heading { width: 22.5%; }
.project-name-heading { width: 17.5%; }
.description-heading { width: 22.5%; } 
.technology-heading { width: 17.5%; }
.office-heading { width: 7.5%; }
.actions-heading { width: 12.5%; }